/* PALETA DE COLORES */
:root {
  --text-primary: rgb(16, 18, 22);
  --text-secondary: rgb(116, 116, 116);

  --background-primary: rgb(255, 255, 255);
  --background-secondary: rgb(243, 243, 243);
  --background-tertiary: rgb(248, 248, 248);

  --button-border: rgb(196, 196, 196);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
}

/* FORMATEO DE ESTILOS */
h1,
h2,
h3,
h4,
p,
a,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* PARA ACCESIBILIDAD */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

/*  HEADER  */
.header {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: 4.3rem;
  width: 100%;
  z-index: 99;
  color: white;
  padding: 0 2rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  opacity: 0;

  .logo-container {
    display: flex;
    justify-self: start;
  }

  .logo-dark,
  .logo-light {
    height: 1.4rem;
  }

  .nav-container {
    justify-self: center;
  }

  .list-container {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 5rem;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        border-bottom: 2px white solid;
        padding-bottom: 0.3rem;
      }
    }
  }
}

/*  MAIN  */

main {
  background: var(--background-secondary);
}

.hero-content {
  position: relative;
  display: flex;
  height: 100svh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    justify-content: center;
    animation: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    opacity: 0;
    padding: 4.3rem 2rem;
    gap: 5rem;

    .title-hero {
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 1;
      color: white;
      font-size: clamp(2.6rem, 10vw, 4rem);
    }

    .form-content {
      position: relative;
      display: flex;
      width: 100%;
      height: 4rem;
      max-width: 35rem;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      .search-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 100%;
        max-width: 100%;

        .search-label {
          position: absolute;
          left: 2rem;
          cursor: text;
          color: #777777;
          letter-spacing: -0.5px;
          transition: all 0.2s ease-in-out;
        }

        .search-input {
          display: flex;
          border: 0;
          outline: 0;
          height: 100%;
          max-height: 4.5rem;
          border-radius: 2rem;
          padding-top: 1.1rem;
          padding-inline: 2rem;
          font-size: 1.1rem;
          transition: box-shadow 0.2s ease-out;
          width: 100%;
        }

        &:focus-within .search-label {
          transform: translateY(calc(-100% + 30%));
          font-size: 0.9rem;
        }

        &:has(.search-input:not(:placeholder-shown)) .search-label {
          transform: translateY(calc(-100% + 30%));
          font-size: 0.9rem;
        }
      }

      .button-search {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% + 5px);
        border-radius: 50%;
        border: 0;
        background-color: #30b27c;
        padding: 1.3rem;
        transition: background 0.1s linear;
        box-shadow: -2px 0 7px #919191;

        &:hover {
          background: #2a9b6c;
          cursor: pointer;
        }

        svg {
          height: 95%;
        }
      }
    }
  }

  .btn-conecta {
    position: absolute;
    bottom: 2rem;
    width: 3rem;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    opacity: 0;
    animation-direction: alternate;
    backdrop-filter: blur(5px);
  }
}

/*  SECCIONES (POR DEFECTO)  */
.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  margin: 3rem 0;

  .text-content {
    h2,
    h3,
    h4 {
      font-size: clamp(3.7rem, 10vw, 6rem);
      font-weight: 650;
      line-height: 1;
    }

    p {
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      line-height: 1;
    }
  }
}

/*  FIRST SECTION  */

.first-content {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 100%;
  border-radius: 3rem;
  background: var(--background-primary);

  .text-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 clamp(2rem, 5.5vw, 8rem);
    gap: 2.5rem;

    .title {
      color: #3d7aff;
      font-size: clamp(2rem, 5vw, 6rem);
    }

    .subtitle {
      color: #101010;
      font-size: clamp(1rem, 2vw, 4rem);
    }
  }

  .image-content {
    flex: 1;

    img {
      height: 100%;
      max-width: 100%;
      width: 100%;
      max-height: 75vh;
      object-fit: contain;
    }
  }
}

/*=========== SECOND SECTION */

/*=========== THIRD SECTION */

/*=========== FOURTH SECTION */

/*======= RESPONSIVIDAD ========*/

/*   TABLETS   */
@media (max-width: 991.98px) {
  .header {
    grid-template-columns: auto 1fr;

    .nav-container {
      justify-self: end;
    }
  }

  .hero-content {
    .title-hero {
      line-height: 0.9;
      text-align: center;
    }

    .form-content {
      max-width: 25rem;
    }
  }

  .first-content {
    flex-direction: column;
    text-align: center;
    height: 100svh;
    border-radius: 1rem;

    .text-content {
      justify-content: center;
      gap: 2rem;
      padding: 0 1rem;

      .title {
        font-size: clamp(3rem, 5vw, 6rem);
      }

      .subtitle {
        font-size: clamp(1.5rem, 5vw, 2rem);
      }
    }

    .image-content {
      height: 30%;
    }
  }
}

/*    MÓVIL   */
@media (max-width: 575.98px) {
  .header {
    .nav-container {
      display: none; /*  MENU HAMBURGUESA después de este tamaño (requiere js) */
    }
  }

  main {
    gap: 0.5rem;
  }

  .form-content {
    max-height: 3.7rem;

    .search-content {
      .search-input {
        border-radius: 1rem;
      }

      .button-search {
        width: 3.7rem;
        border: green solid;
      }
    }
  }

  .section-content {
    padding: 0;
    width: 100%;
  }

  .first-content {
    width: 100%;
  }
}

/* ANIMACIONES */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
